<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>合众支付中心</title>

    <style>
        body{font-family: 'Microsoft YaHei';}
        #amount,#error{height: 80px; line-height: 80px; text-align: center; color: #f00; font-size: 30px; font-weight: bold;}
        #error{font-size: 20px;}
        #info{padding: 0 10px; font-size: 12px;}
        table{width: 100%; border-collapse: collapse;}
        tr{border: 1px solid #ddd;}
        td{padding: 10px;}
        .fr{text-align: right; font-weight: bold;}
    </style>

</head>


<body>

<if >
    <div id="amount">¥<span th:text="${amount}"></span></div>
<div id="info">
    <table>
        <tr>
            <td>购买商品</td>
            <td class="fr">
                <span th:text="${goodsOrder.goodsName}"></span></td>

        </tr>

        <tr>
            <td>收款方</td>
            <td class="fr">合众at</td>
        </tr>
    </table>
</div>

    <td th:if="${client == 'alipay'}">

    </td>

</if>

<div id="error">

    <span th:if="${result == 'failed'}">
        <span th:text="${resMsg}"></span>
    </span>
</if>
</div>
</if>


</body>
</html>